#cv {}




/* ---------------  Mobil: ---------------  */

@media (max-width: 767px) {


    main {
        position: relative;
        min-height: 115vh;
    }

    #cv_container {
        position: absolute;
        top: -18vw;
        left: -4vw;
        border: 3px solid white;
        margin: 33px;
        width: 65px;
        height: 65px;

    }


    #cv_sprite {
        font-size: 13px;
        border: 2px solid white;
        margin: 11px;
        width: 60px;
        height: 60px;
        text-align: center;
        /*
    padding: 12px;
    border-radius: 26px;
*/
    }

    #tekst {
        position: absolute;
        top: -20vw;
        left: 40vw;
        border: 3px solid white;
        margin: 35px;
        width: 133px;
        height: 700px;
        padding: 18px;
        font-size: 10px;
    }

    #selvportraet {
        position: absolute;
        background-image: url(../Foto/selvportraet_02.png);
        background-size: cover;
        width: 45vw;
        height: 88vh;
        top: 38vw;
        left: 3vw;
    }

    #underskrift_container {}

    #underskrift_sprite {
        position: absolute;
        background-image: url(../Foto/Underskrift.png);
        background-size: cover;
        width: 32vw;
        height: 10vh;
        top: 175.3vw;
        left: 62vw;

    }
}



/* ---------------  Ipad i højformat: ---------------  */

@media only screen and (min-width: 768px) {

    #cv_container {
        position: absolute;
        top: -2vw;
        left: 0vw;
        border: 3px solid white;
        margin: 34px;
        width: 70px;
        /*
    height: 70px;
*/
    }


    #cv_sprite {
        font-size: 17px;
        border: 2px solid white;
        margin: 11px;
        width: 70px;
        height: 70px;
        text-align: center;
        /*
    padding: 12px;
    border-radius: 26px;
*/
    }

    #tekst {
        position: absolute;
        top: -1vw;
        left: 42vw;
        border: 3px solid white;
        margin: 35px;
        width: 300px;
        height: 744px;
        padding: 30px;
    }

    #selvportraet {
        position: absolute;
        background-image: url(../Foto/selvportraet_02.png);
        background-size: cover;
        width: 30vw;
        height: 80vh;
        top: 8vw;
        left: 12vw;
    }

    #underskrift_sprite {
        position: absolute;
        background-image: url(../Foto/Underskrift.png);
        background-size: cover;
        width: 24vw;
        height: 10vh;
        top: 101.3vw;
        left: 69vw;

    }
}


/* ---------------  Ipad i bredformat: ---------------  */

@media only screen and (min-width: 1024px) {


    #cv_container {
        position: absolute;
        top: -2vw;
        left: 0vw;
        border: 3px solid white;
        margin: 34px;
        width: 70px;
        /*
    height: 70px;
*/
    }

    #cv_sprite {
        font-size: 17px;
        border: 2px solid white;
        margin: 11px;
        width: 67px;
        height: 70px;
        text-align: left;
        padding: 9px;

    }

    #tekst {
        position: absolute;
        top: -2vw;
        left: 44vw;
        border: 3px solid white;
        margin: 35px;
        width: 450px;
        height: 503px;
        padding: 30px;
    }

    #selvportraet {
        position: absolute;
        background-image: url(../Foto/Selvportraet_1.png);
        background-size: cover;
        width: 59vw;
        height: 76vh;
        top: 9vw;
        left: -2vw;
    }

    #underskrift_sprite {
        position: absolute;
        background-image: url(../Foto/Underskrift.png);
        background-size: cover;
        width: 14vw;
        height: 10vh;
        top: 51.3vw;
        left: 83vw;

    }
}


/* --------------- Web version ---------------  */
@media only screen and (min-width: 1400px) {

    #cv_container {
        position: absolute;
        top: -2vw;
        left: 0vw;
        border: 3px solid white;
        margin: 34px;
        width: 82px;
    }


    #cv_sprite {
        font-size: 17px;
        border: 2px solid white;
        margin: 11px;
        width: 70px;
        height: 50px;
        text-align: left;
        padding: 9px;
    }

    #tekst {
        position: absolute;
        top: -2vw;
        left: 48vw;
        border: 3px solid white;
        margin: 35px;
        width: 600px;
        height: 630px;
        padding: 30px;
    }

    #selvportraet {
        position: absolute;
        background-image: url(../Foto/Selvportraet_1.png);
        background-size: cover;
        width: 49vw;
        height: 85vh;
        top: 2vw;
        left: -2vw;
    }

    #underskrift_sprite {
        position: absolute;
        background-image: url(../Foto/Underskrift.png);
        background-size: cover;
        width: 17vw;
        height: 15vh;
        top: 42.3vw;
        left: 78vw;

    }
}
