/* ---------------  Mobil: ---------------  */

@media (max-width: 800px) {


    #cv_container {
        position: absolute;
        top: -6vw;
        left: 0vw;
        border: 3px solid white;
        margin: 33px;
        width: 65px;
        height: 65px;
    }


    #cv_sprite {
        font-size: 1.5rem;
        border: 2px solid white;
        margin: 11px;
        width: 95px;
        height: 60px;
        text-align: center;
    }

    #tekst_container {
        position: absolute;
        top: -6vw;
        left: 40vw;
        border: 3px solid white;
        margin-right: 10px;
        padding: 10px;


    }



    #selvportraet_container {
        top: 41vw;
        left: 3vw;
    }

    #selvportraet_sprite {
        background-image: url(../Foto/selvportraet_02.png);
        background-size: cover;
        width: 37vw;
        height: 131vw;
    }

    #underskrift_container {
        top: 175.3vw;
        left: 53vw;
        padding-bottom: 30px;
    }

    #underskrift_sprite {
        background-image: url(../Foto/Underskrift.png);
        background-size: cover;
        width: 33vw;
        height: 18vw;
    }
}



/* ---------------  Ipad i højformat: ---------------  */

@media only screen and (min-width: 801px) {

    #cv_container {
        position: absolute;
        top: -2vw;
        left: 0vw;
        border: 3px solid white;
        margin: 34px;
        width: 70px;
        /*
    height: 70px;
*/
    }


    #cv_sprite {
        font-size: 17px;
        border: 2px solid white;
        margin: 11px;
        width: 70px;
        height: 70px;
        text-align: center;
        /*
    padding: 12px;
    border-radius: 26px;
*/
    }

    #tekst_container {
        position: absolute;
        top: -1vw;
        left: 42vw;
        border: 3px solid white;
        margin-right: 10px;
        padding: 10px;
    }



    #selvportraet_container {
        position: absolute;
        top: 8vw;
        left: 14vw;
    }

    #selvportraet_sprite {
        background-image: url(../Foto/selvportraet_02.png);
        background-size: cover;
        width: 23vw;
        height: 80vw;
    }

    #underskrift_container {
        position: absolute;
        top: 31.3vw;
        left: 27vw;
    }


    #underskrift_sprite {
        background-image: url(../Foto/Underskrift.png);
        background-size: cover;
        width: 24vw;
        height: 13.5vw;
    }
}


/* ---------------  Ipad i bredformat: ---------------  */

/* @media only screen and (min-width: 1024px) {

    main {
        position: relative;
    }

    #cv_container {
        position: absolute;
        top: -2vw;
        left: 0vw;
        border: 3px solid white;
        margin: 34px;
        width: 70px;
        height: 70px;
    }

    #cv_sprite {
        font-size: 17px;
        border: 2px solid white;
        margin: 11px;
        width: 67px;
        height: 70px;
        text-align: left;
        padding: 9px;
    }

    #tekst_container {
        position: absolute;
        top: -2vw;
        left: 51vw;
        border: 3px solid white;
    }

    #tekst_sprite {
        margin: 35px;
        width: 370px;
        height: 604px;
        padding-bottom: 17px;
    }

    #selvportraet_container {
        position: absolute;
        top: 9vw;
        left: -2vw;
    }

    #selvportraet_sprite {
        background-image: url(../Foto/Selvportraet_1.png);
        background-size: cover;
        width: 62vw;
        height: 76vh;
    }

    #underskrift_container {
        position: absolute;
        top: 58.3vw;
        left: 79vw;
    }

    #underskrift_sprite {
        background-image: url(../Foto/Underskrift.png);
        background-size: cover;
        width: 16vw;
        height: 10vh;


    }
}
 */

/* --------------- Web version ---------------  */
@media only screen and (min-width: 1200px) {



    #cv_container {
        position: absolute;
        top: -4vw;
        left: 2vw;
        border: 3px solid white;
        width: 185px;
        height: 100px;
    }


    #cv_sprite {
        font-size: 2rem;
        border: 2px solid white;
        margin: 11px;
        width: 230px;
        height: 70px;
        text-align: center;
    }

    #tekst_container {
        position: absolute;
        top: 4vw;
        left: 48vw;
        border: 3px solid white;
    }



    #selvportraet_container {
        position: absolute;
        top: 1vw;
        left: -2vw;
    }

    #selvportraet_sprite {
        background-image: url(../Foto/Selvportraet_1.png);
        background-size: cover;
        width: 56vw;
        height: 60vw;
    }

    #underskrift_container {
        position: absolute;
        top: 16vw;
        left: 31vw;
    }

    #underskrift_sprite {
        background-image: url(../Foto/Underskrift.png);
        background-size: cover;
        width: 18vw;
        height: 10vw;
    }
}
