* {
    box-sizing: border-box;
    margin: 0;
}


main {
    position: relative;
    margin: 0 auto;
    margin-bottom: 3rem;
}

section {
    padding: 1rem;
    padding-top: 5rem;
    padding-bottom: 3rem
}

header {
    position: relative;
    height: 0;
    margin-bottom: 5.25rem;
}

body {
    background-color: #000000;
    padding: 0;
    margin: 0;
}


nav {
    background-color: #ffffff;
    font-weight: 400;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    align-items: end;

}

nav a {
    font-family: 'Orbitron', sans-serif;
    color: #000000;
    text-decoration: none;
}

a {
    font-family: 'Orbitron', sans-serif;
    color: #ffffff;
    text-decoration: none;

}

.socialMedias {

    margin-right: 1.6rem;

}

.facebook {
    width: 7vw;
    height: 4vh;
}

.instagram {
    width: 7vw;
    height: 4vh;
}

footer p {
    font-size: 10px;
    margin-left: 1px;
    color: black;
    margin-right: 15rem;
}

footer {
    position: fixed;
    display: flex;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: #ffffff;
    text-align: end;
    padding: .10rem;
}


h1 {
    font-family: 'Major Mono Display', monospace;
    color: #ffffff;
}

h2 {
    font-family: 'Major Mono Display', monospace;
    color: white;
}

h3 {
    font-family: 'Orbitron', sans-serif;
    color: #ffffff;
}

p {
    font-family: 'Roboto Mono', monospace;
    color: #ffffff;
    line-height: 1.5;
}

li {
    font-family: 'Roboto Mono', monospace;
    color: #ffffff;
    line-height: 1.5;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 62px;
    right: 10px;
    z-index: 99;
    border: 10px double #ffffff;
    background-color: #000000;
    color: white;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

#myBtn:hover {
    background-color: #555;
}


@media (max-width: 800px) {

    .menulink {
        display: none;
    }

    .menulinklast {
        display: none;
    }

    .burgermenu {
        display: block;
        float: right;
        font-size: 25px;
        padding: 0;
        text-align: right;
        height: 35px;
        width: 100%
    }

    #burgerknap {
        margin-right: 15px;
        margin-top: 5px;
        display: inline-block;
        cursor: pointer;

    }

    .burgerknap {
        margin-right: 2rem;

    }

    .hidden {
        opacity: 0;
        transform: translateX(-150%);

    }

    .burgermenulink {
        font-family: 'Orbitron', sans-serif;

        cursor: pointer;

    }

    #burgersection {
        position: relative;
        transition: transform 0.3s;
        background: #ffffff;
        margin-top: 0.5rem;
        line-height: 50px;
        z-index: 2;
    }

    #burgersection li {
        margin-top: -0.75rem;
        text-align: center;
        padding: 10px;
        padding-right: 30px;
    }

    .burgermenulink:link {
        color: black;

    }

    .burgermenulink:visited {
        color: black;
    }

    .burgermenulink:after {
        background: none repeat scroll 0 0 transparent;
        bottom: 2;
        content: "";
        display: block;
        height: 1.5px;
        left: 50%;
        position: absolute;
        background: black;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
    }

    .burgermenulinklast:hover:after {
        width: 100%;
        left: 0;
    }
}

@media (min-width: 801px) {
    .burgermenu {
        display: none;
    }
}
