.socialMedias {
    margin-top: -3.12rem;
    float: right;
    margin-right: 1.6rem;

}

.facebook {
    width: 2.9rem;
    height: 2.9rem;
}

.instagram {
    width: 2.9rem;
    height: 2.9rem;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100vw;
    background-color: #f810e7;
    color: black;
    text-align: left;
    padding: .15rem;
}



@media (max-width: 650px) {

    .menulink {
        display: none;
    }

    .menulinklast {
        display: none;
    }

    burgermenu {
        display: block;
        float: right;
        font-size: 3rem;
        padding: 0;
        text-align: right;
    }

    #burgerknap {
        margin-right: 2rem;
        display: inline-block;
        cursor: pointer;

    }

    .burgerknap {
        margin-right: 2rem;

    }

    .hidden {
        opacity: 0;
        transform: translateX(150%);

    }

    .burgermenulink {
        font-family: 'PT Mono', monospace;

        cursor: pointer;
        text-decoration: none;
    }

    #burgersection {
        position: relative;
        transition: transform 0.3s;
        transform-style: top right;
        background: #c7b5a7;
        margin-top: 1.5rem;
        height: 35rem;
        line-height: 100px;
        z-index: 2;
    }

    #burgersection li {
        margin-top: -0.75rem;
        margin-right: 2rem;
        text-align: center;
        padding: 10px;
    }

    .burgermenulink:link {
        color: black;

    }

    .burgermenulink:visited {
        color: black;
    }

    .burgermenulink:after {
        background: none repeat scroll 0 0 transparent;
        bottom: 2;
        content: "";
        display: block;
        height: 1.5px;
        left: 50%;
        position: absolute;
        background: black;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
    }

    .burgermenulinklast:hover:after {
        width: 100%;
        left: 0;
    }
}

@media (min-width: 651px) {
    .burgermenu {
        display: none;
    }
}
