img {
    width: 100%;
}

header {
    position: relative;
    height: 0;
    margin-bottom: 5.25rem;
}

body {
    background-color: #000000;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}


nav {
    background-color: #ffffff;
    font-weight: 400;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    align-items: end;

    /*  flex-direction: column;
        height: 65vh;
        text-align: right;*/
}

a {
    font-family: 'Orbitron', sans-serif;
    color: #000000;
    text-decoration: none;
}

.socialMedias {
    margin-top: -3.12rem;
    margin-right: 1.6rem;

}

.facebook {
    width: 2.9rem;
    height: 2.9rem;
}

.instagram {
    width: 2.9rem;
    height: 2.9rem;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: #ffffff;
    color: black;
    text-align: left;
    padding: .15rem;
}

h1 {
    font-family: 'Major Mono Display', monospace;
}

h2 {
    font-family: 'Major Mono Display', monospace;
    color: white;
}

/* figcaption {
    font-family: 'Orbitron', sans-serif;
} */

p {
    font-family: 'Orbitron', sans-serif;
    color: #ffffff;
    line-height: 1.5;
}


@media (max-width: 650px) {

    .menulink {
        display: none;
    }

    .menulinklast {
        display: none;
    }

    .burgermenu {
        display: block;
        float: right;
        font-size: 25px;
        padding: 0;
        text-align: right;
        height: 50px;
        width: 50%
    }

    #burgerknap {
        margin-right: 15px;
        margin-top: 5px;
        display: inline-block;
        cursor: pointer;

    }

    .burgerknap {
        margin-right: 2rem;

    }

    .hidden {
        opacity: 0;

    }

    .burgermenulink {
        font-family: 'Orbitron', sans-serif;

        cursor: pointer;
        /*        text-decoration: none;
        */
    }

    #burgersection {
        position: relative;
        transition: transform 0.3s;
        background: #ffffff;
        margin-top: 1.5rem;
        line-height: 50px;
        z-index: 2;
    }

    #burgersection li {
        margin-top: -0.75rem;
        margin-right: 20;
        text-align: end;
        padding: 10px;
        padding-right: 30px;
    }

    .burgermenulink:link {
        color: black;

    }

    .burgermenulink:visited {
        color: black;
    }

    .burgermenulink:after {
        background: none repeat scroll 0 0 transparent;
        bottom: 2;
        content: "";
        display: block;
        height: 1.5px;
        left: 50%;
        position: absolute;
        background: black;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
    }

    .burgermenulinklast:hover:after {
        width: 100%;
        left: 0;
    }
}

@media (min-width: 651px) {
    .burgermenu {
        display: none;
    }
}
