#foto_1_container {
    position: absolute;
    top: 18vw;
    left: 76vw;
}

#foto_1_sprite {
    position: absolute;
    background-image: url(../Foto/selvportraet_03.png);
    background-size: cover;
    /*    border: 2px solid white;*/
    width: 24vw;
    height: 42vw;
}

/* ------------------------------  */

#foto_2_container {
    position: absolute;
    top: 38vw;
    left: 10vw;
}


#foto_2_sprite {
    position: absolute;
    background-image: url(../Foto/hvidt_logo.png);
    background-size: cover;
    /*    border: 2px solid white;*/
    width: 10vw;
    height: 10vw;
}

/* ------------------------------  */

#foto_3_container {
    position: absolute;
    top: 6vw;
    left: 19vw;
}

#foto_3_sprite {
    position: absolute;
    background-image: url(../Foto/le_hat.png);
    background-size: cover;
    border: 2px solid white;
    width: 25vw;
    height: 18vw;
}

/* ------------------------------  */

#foto_4_container {
    position: absolute;
    top: 20vw;
    left: 16vw;
}

#foto_4_sprite {
    position: absolute;
    background-image: url(../Foto/Ligth_gradient_lens_sky_2.png);
    background-size: cover;
    border: 2px solid white;
    width: 15vw;
    height: 20vw;
}

/* ------------------------------  */

#foto_5_container {
    position: absolute;
    top: 15vw;
    left: 7vw;
}

#foto_5_sprite {
    position: absolute;
    background-image: url(../Foto/tshirt.png);
    background-size: cover;
    border: 2px solid white;
    width: 11vw;
    height: 19vw;
}

/* ------------------------------  */

#foto_6_container {
    position: absolute;
    top: 11vw;
    left: 36vw;
}

#foto_6_sprite {
    position: absolute;
    background-size: cover;
    border: 2px solid white;
    width: 20vw;
    height: 20vw;
}

/* ------------------------------  */

#foto_7_container {
    position: absolute;
    top: 11vw;
    left: 36vw;
}

#foto_7_sprite {
    position: absolute;
    background-image: url(../Foto/logo_1.png);
    background-size: cover;
    border: 2px solid white;
    width: 20vw;
    height: 20vw;
}

/* ------------------------------  */

#video_container {
    position: absolute;
    top: 29vw;
    left: 29vw;
}

#video {
    position: relative;
    object-fit: cover;
    border: 2px solid white;
    width: 30vw;
    height: 17vw;
}
